{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
    <form method="POST" action="{{ url_for('add') }}" novalidate>
    {{ form.csrf_token }}

    {{ form.title.label }} {{ form.title(class="form-control") }}
    {% if form.title.errors %}
      {% for error in form.title.errors %}
          <p>{{ error }}</p>
      {% endfor %}
    {% endif %}
    <br>

    {{ form.submit }}
</form>
</div>
{% endblock %}